.navigation-bar {
  color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  border-right: 2px solid #000;
  background: linear-gradient(to right, #1e65f1, #7a47c3);
}

.logo {
  background: linear-gradient(to right, #1e65f1, #7a47c3);
  text-align: center;
  padding: 10px;
  font-size: 20px;
}

.footer {
  padding: 10px;
  text-align: center;
}

.footer img {
  width: 100px;
}

#sg_logo {
  width: 100%;
  margin-bottom: 10%;
}

.nav-items {
  flex-grow: 1;
}

.nav-item {
  display: flex;
  padding: 10px;
  color: white;
  background: linear-gradient(to right, #1e65f1, #7a47c3);
  text-decoration: none;
  font-size: 18px;
  transition: background-color 0.3s, color 0.3s;
  margin-top: 30px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.nav-item:hover,
.nav-item.active {
  background: #0d3b66;
  color: white;
}

.nav-icon {
  height: 35px;
  width: 35px;
  margin-right: 20px;
}
.search-bar input {
  background: url("../../image/search-icon.png") no-repeat 10px center / 20px
    20px;
  border: 2px solid #ffffff;
  border-radius: 25px;
  padding-left: 40px;
  width: 70%;
  margin: 0 auto;
  display: block;
  height: 35px;
  font-size: 16px;
  color: #ffffff;
}

#search_input {
  color: #ffffff;
}

.search-bar input::placeholder {
  color: #ffffff;
}

#database-icon {
  margin-right: 15%;
}
