.navigationBar {
  color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: var(--primary-color);
 }
 
 
 .logo {
  background: var(--primary-color);
  text-align: center;
  padding: 10px;
  font-size: 20px;
 }
 
 
 .footer {
  padding: 10px;
  text-align: center;
 }
 
 
 .footer img {
  width: 100px;
 }
 
 
 #navSgLogo {
  width: 100%;
  margin-bottom: 10%;
 }
 
 
 .navItems {
  flex-grow: 1;
 }
 
 
 .navItem {
  display: flex;
  padding: 10px;
  color: white;
  background: var(--primary-color);
  text-decoration: none;
  font-size: 18px;
  transition: background-color 0.3s, color 0.3s;
  margin-top: 30px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
 }
 
 
 .navItem:hover,
 .navItem.active {
  background: white;
  color: black;
 }
 
 
 .navIcon {
  height: 35px;
  width: 35px;
  margin-right: 20px;
 }
 .searchBar input {
  background: url("../../images/search-icon.png") no-repeat 10px center / 20px
    20px;
  border: 2px solid var(--white-color);
  border-radius: 25px;
  padding-left: 40px;
  width: 70%;
  margin: 0 auto;
  display: block;
  height: 35px;
  font-size: 16px;
  color: var(--white-color);
 }
 
 
 #searchInput {
  color: var(--white-color);
 }
 
 
 .searchBar input::placeholder {
  color: var(--white-color);
 }
 
 
 #databaseIcon {
  margin-right: 15%;
 }
 
 