.typographyH1 {
  font-size: 20px;
  color: var(--primary-color);
}

.typographyH2 {
  font-size: 18px;
  color: var(--primary-color);
}

.typographyH3 {
  font-size: 16px;
  color: var(--primary-color);
}

.typographyParagraph {
  font-size: 14px;
}

@media (min-width: 600px) {
  .typographyH1 {
    font-size: 24px;
  }

  .typographyH2 {
    font-size: 22px;
  }

  .typographyH3 {
    font-size: 18px;
  }

  .typographyParagraph {
    font-size: 16px;
  }
}

@media (min-width: 1024px) {
  .typographyH1 {
    font-size: 28px;
  }

  .typographyH2 {
    font-size: 26px;
  }

  .typographyH3 {
    font-size: 20px;
  }

  .typographyParagraph {
    font-size: 18px;
  }
}
