.rs-popover-content {
    width: 250px; 
    padding: 10px; 
    background-color: #fff; 
    border: 1px solid #ccc; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    font-size: 14px; 
    z-index: 1050; 
    transform: translate(-0%, -3%);
    position:fixed;
}

.btn-showMore {
    background-color: #5296f8;
    color: #fff;
    border: none;
    border-radius: 10px;
    height: 20px;
    width: 60px;
}
